{% extends 'layout.html' %}

{% block title %}
    <title>afficher les départements</title>
{% endblock %}

{% block body %}
<h3>Départements </h3>
<button onclick="location.href='/departement-usine/add'">ajouter un département</button>
<br><br>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th style="width: 30px;">id</th>
            <th style="width: 50px;">nom de Departement</th>
            <th style="width: 30px;">logo</th>
            <th style="width: 50px;">opération</th>
        </tr>
    </thead>
    <tbody>
    {% if departementsUsine | length >= 1 %}
        {% for ligne in departementsUsine %}
           <tr>
                  <td>{{ ligne.id }}</td>
                  <td>{{ ligne.nom }}</td>
                  <td>
                  <img style="width:40px;height:40px"  src="{{ url_for('static', filename = 'images/image_dep/' + ligne.logo) }}"  alt="logo  de {{ ligne.nom }}" >
                  </td>
                  <td>
                      <button onclick="location.href='/departement-usine/edit?id={{ ligne.id }}'">Éditer</button>
                      <button onclick="location.href='/departement-usine/delete?id={{ ligne.id }}'">Supprimer</button>
                  </td>
           </tr>
        {% endfor %}
    {% else %}
            <tr>
                  <td>
                      pas de département
                  </td>
           </tr>
    {% endif %}
    </tbody>
</table>
{% endblock %}